.big-div {
  /* border: 2px red solid; */
  /* background-color: gold; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* height: 600px; */
}

form {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  /* height: 100%; */
  height: 600px;
}

.little_div {
  /* border: 2px red solid; */
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.little_div label {
  font-size: 15px;
  margin-bottom: 10px;
}

.little_div input {
  height: 40%;
  border-radius: 5px;
  background-color: rgb(245, 245, 243);
  margin-bottom: 10px;
}

.red {
  border-color: red;
}

.button {
  /* border: 3px blue solid; */
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #5c47d3;
  font-size: 1.3rem;
  color: white;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

.steptwo {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 450px;
  /* border: 2px red solid; */
}

.results {
  width: 40%;
  /* border: 2px blue solid; */
  border: 2px black solid;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 20px;
  box-sizing: border-box;
}

.button2 {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  /* border: 2px yellow solid; */
}

.button2 button {
  width: 100%;
  border-radius: 5px;
  height: 60px;
  background-color: #5c47d3;
  font-size: 1.3rem;
  color: white;
}
