.big_div {
  /* border: 2px red solid; */
  /* background-color: gold; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 600px;
}

form {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  height: 100%;
}

.little_div {
  /* border: 2px red solid; */
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.little_div label {
  font-size: 15px;
  margin-bottom: 10px;
}

.little_div input {
  height: 40%;
  border-radius: 5px;
  background-color: rgb(245, 245, 243);
  margin-bottom: 10px;
}

.red {
  border-color: red;
}

.button {
  /* border: 3px blue solid; */
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #5c47d3;
  font-size: 1.3rem;
  color: white;
}

h1 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
